/* content */
body {
	background-color: #b66767;
}

.container { width: 1000px;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

#bodycontent {
	margin: 1em 2em;
}

p {
	margin-top: 0.5em;
}

/* headings */
h1 {
	color: #792424;
	font-family: "trebuchet MS", arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h2,h3,h4,h5,h6 {
	color: #792424;
	margin: 0;
}

p + h1 {
	margin-top: 1em;
}

/* header */
.header p {
	margin-bottom: 0
}

/* navigation */
.navigation {
	padding: 1em 2em;
	background-color: #792424;
}

.navigation ul {
	margin: 0;
	padding: 0;
}
	
.navigation li {
	display: inline;
	margin-right: 1em;
}

.navigation li a {
	color: #ffffff;
	text-decoration: none;
}

.navigation li a:hover {
	color: #b66767;
}

/* links */
a:link { color: #bf1e23; }
a:visited { color: #21789c }
a:focus { color: #b66767 }
a:hover { color: #b66767 }
a:active { color: #792424 }

strong a {
	font-size: 24px;
}

#examples {
	text-align: center;
}

/* pictures */
#gallery {
	text-align: center;
}
#sewing {
	text-align: center;
}

#homephoto {
	text-align: center;
}

.gallery {
	text-align: center;
}

.costume {
	text-align: center;
	margin-top: 0;
	margin-bottom: 2.5em;
}

.costumecontent {
	margin: 0;
	text-align: center;
}

/* footer */
#footer {
	padding: 0.5em;
	color: #ffffff;
	background-color: #792424;
	text-align: center;
}